<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>
<% include ./_nav %>
<% var group; %>
<div class="page-header text-center">
	<h1>Jesus' Christian Group</h1>
</div>



<div class="newPrayer" align="center">
  <button type="button" class="btn btn-default" id="newPrayerButton" data-id='<%=group._id%>' data-toggle="modal" data-target="#newPrayerModal">New Prayer</button>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <ul class="list-group prayerList">
  <% for(var i = group.posts.length - 1; i>=0; i--) { %>
    <li class="list-group-item">Your prayer request:<br><br>
    <%=group.posts[i].content%>
    <div align='right'>
    <figure>
    <button type="button" data-id='<%=group.posts[i]._id%>' class="btn btn-default btn-lg deleteButton" data-toggle='modal' data-target='#deleteModal' aria-label="Left Align">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <br>
    <br></figure></div>
    </li>
  <% } %>
    <li class="list-group-item">Pray for my job interview on Wednesday
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://trip101.com/assets/default_profile_pic-9c5d869a996318867438aa3ccf9a9607daee021047c1088645fbdfbbed0e2aec.jpg">
        <figcaption>Jesus C.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my coworker's family
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://media.licdn.com/media/AAEAAQAAAAAAAAVwAAAAJDM2MmM2NzRmLTRiODQtNDRlYS05ZjRkLWFkMzE4YTAxZGFjMw.jpg">
        <figcaption>Alex L.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my friend struggling with depression
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARuAAAAJDY5MmYzNDBkLTY2YmEtNGRkYy05ZmVmLWYzMDE3MmUyMTMyNg.jpg">
        <figcaption>Annie R.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my upcoming mission trip
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://trip101.com/assets/default_profile_pic-9c5d869a996318867438aa3ccf9a9607daee021047c1088645fbdfbbed0e2aec.jpg">
        <figcaption>Kaylan B.</figcaption></figure></div>
        </li>
  </ul>
</div>




<!-- Modal -->
<div class="modal fade" id="newPrayerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hey God, are you listening?</h4>
      </div>
      <div class="modal-body">
        <form id="demoPost">
          <div class="form-group">
            <label for="prayerContent">Prayer Request</label>
            <input type="text" name="content" class="form-control" id="newPostContent" >
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#newPrayerModal">Send to Group</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for delete button -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="delete-modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Permanently delete prayer request?</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal deleteForm">
          <div class="form-group">
            <label for="inputAnswered" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary confirmDelete" id="">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</body>
</html>