<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>
<% include ./_nav %>

<div class="page-header text-center">
	<h1>Jesus' Christian Group</h1>
</div>



<div class="newPrayer" align="center">
  <button type="button" class="btn btn-default" disabled="on" id="newPrayerButton" data-toggle="modal" data-target="#newPrayerModal">New Prayer</button>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <ul class="list-group prayerList">
    <li class="list-group-item">Pray for my job interview on Wednesday
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://trip101.com/assets/default_profile_pic-9c5d869a996318867438aa3ccf9a9607daee021047c1088645fbdfbbed0e2aec.jpg">
        <figcaption>Jesus C.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my coworker's family
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://media.licdn.com/media/AAEAAQAAAAAAAAVwAAAAJDM2MmM2NzRmLTRiODQtNDRlYS05ZjRkLWFkMzE4YTAxZGFjMw.jpg">
        <figcaption>Alex L.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my friend struggling with depression
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARuAAAAJDY5MmYzNDBkLTY2YmEtNGRkYy05ZmVmLWYzMDE3MmUyMTMyNg.jpg">
        <figcaption>Annie R.</figcaption></figure></div>
        </li>
    <li class="list-group-item">Pray for my upcoming mission trip
        <div align='right'>
        <figure>
        <img class="profileImage" src="https://trip101.com/assets/default_profile_pic-9c5d869a996318867438aa3ccf9a9607daee021047c1088645fbdfbbed0e2aec.jpg">
        <figcaption>Kaylan B.</figcaption></figure></div>
        </li>
  </ul>
</div>




<!-- Modal -->
<div class="modal fade" id="newPrayerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hey God, are you listening?</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="prayerRequester">Name</label>
            <input type="text" class="form-control" id="" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="prayerContent">Prayer Request</label>
            <textarea type="text" class="form-control" id="" ></textarea> 
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPrayerModal">Send to Group</button>
      </div>
      </form>
    </div>
  </div>
</div>



</body>
</html>